*{
    margin: 0px;
    padding:0px 0px;
}


/*---BOOTSRAP---*/
.btn-default{
    color: azure !important;
    border-color: rgb(87, 77, 104) !important;
    border-style:solid !important;
}

button > a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.texto-titulo{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
}

.texto-subtitulo{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/*HEADER - NAvBAR*/
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(87, 77, 104);
    height: 50px;
}

header{
    background-color: rgb(87, 77, 104);
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo{
    height: 61px;
    width: 62px;
    padding: 5px;
    margin-left: 10px;
}

.lista{
    padding: 10px;
}

.lista ul li a{
    text-transform:uppercase;
    color: azure;
}

.portada-index{
    background-image: url("../imagen/imagenPortada.jpg");
    background-color: cyan;
    background-size: cover; 

    height: 500px;
}

.portada-general{
    height: 400px;
}

.portada_titulo{
    background-color: rgb(87, 77, 104,0.75);
    text-align: center;
    color:azure;
    padding: 16px;
    font-family: 'Oswald', sans-serif;
}

.presentacion_sitio{
    grid-area: contenido;
    color: black;
    height: auto;
    text-align: center;
    padding-top: 150px;
    font-family: 'Oswald', sans-serif;
    padding: 50px;
}

.contenido-principal{
    background-color: rgb(255, 255, 255);
}

/*formulario*/
.formulario{
    font-family: 'Oswald', sans-serif;
}

.formulario > fieldset > button{
    color: black !important;
}

.formulario > fieldset > .row{
    padding-bottom: 8px;
}

.index{
    background-color: rgb(90, 88, 86,0.4);

    padding-top: 15px;
    padding-bottom: 15px;
}

.general{
    text-align: center;
}

.contenido_principal_izquierdo{
    text-align: center;
    font-size: 30px;
    margin-left: 200px;
    display: block;
    width: 50%;
}
.contenido_principal_derecho{
    margin-left: 10px;
    width: 50%;
    margin-right: 0px;
}


.contenedor-general{
    padding: 50px;
    text-align: center;
}


.caja{
    display: inline-block;
    padding: 5px;
}

.caja-imagen {
    height: 350px;
    width: 400px;
}

.caja-imagen img{
    width: 100%;
    height: 100%;
}

.caja-texto{
    background-color: rgb(87, 77, 104);
    color: azure;
}

article{
    grid-area: contenido;
    background-color: blanchedalmond;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}


/*ESTADIO*/
.body_estadio{
    background-color: rgb(90, 88, 86,0.4);
}

.body_estadio .caja{
    padding: 0px;
}


/*HOTEL*/

.body_hotel{
    background-color: rgb(90, 88, 86,0.4);
}

.body_hotel .contenido_general .caja{
    padding: 0px;
}

/*TURISMO*/
.body_turismo{
    background-color: rgb(90, 88, 86,0.4);
}

.body_turismo .contenido_general .caja{
    padding: 0px;
}

/*CONTACTO*/
.body_contacto{
    background-color: rgb(90, 88, 86,0.4);
}

.body_contacto .contenido_principal{
    background-color: rgb(255, 255, 255);
}


/*IMGAEN INDEX - BOOSTRAP*/

.imagen{
    width: 100%;
    height: 100%;
}


/*FOOTER*/
footer{
    grid-area: footer;
    background-color: rgb(87, 77, 104);
    color: azure;
    height: 200px;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
}

footer > ul{
    padding: 50px;
    list-style-type: none;
}


footer > ul > li  > a{
    color: aliceblue;
    text-decoration: none;
    margin-left: 50px;
}

/*ANIMACION IMAGEN*/
img:hover{
    transform: scale(1.1);
}

img{
    transition: all 500ms ease-out;
}


/*ViSTA MOVIL*/
@media only screen and (max-width:599px){
    .contenedor-general{
        height: 100%;
    }

    .texto-titulo{
        font-size: 35px;
    }

    .texto-subtitulo{
        font-size: 15px;
    }

    .logo{
        display: none;
    }
}
